<!-- welcome user -->
<div>
  <h1>Hi <%=user.userName %>, how are you? 😊</h1>
  <h2>Please share one good thing that happened to you today:</h2>
</div>

<!-- the good thing submisson-->
<form action="/post/createPost" enctype="multipart/form-data" method="POST">
  <label for="the-thing" class="form-label">The thing:</label>
  <input type="text" class="form-control" id="the-thing" name="title">
  <label for="the-details class="form-label>The details:</label>
  <textarea type="textarea" class="form-control" id="the-details" name="caption"></textarea>
  <label for="imgUpload" class="form-label">The photo:</label>
  <input type="file" class="form-control" id="imageUpload" name="file">
  <button type="submit">Submit</button>
</form>

<!-- users good things -->
<!-- <ul>
    <% for(var i=0; i<posts.length; i++) {%>
    <li class="">
      <a href="/post/<%= posts[i]._id%>">
        <h2><%= posts[i].title%></h2>
        <img class="img-fluid" src="<%= posts[i].image%>">
      </a>
    </li>
    <% } %>
</ul> -->

<!-- feed, logout, and home buttons -->
<a href="/feed">Return to Feed</a>
<a href="/logout">Logout</a>
<a href="/">Home</a>

<%- include('partials/footer') -%>